.admin-container {
  height: calc(100vh - 128px); /* 64px header + 64px footer */
  margin-top: 0; /* header yüksekliği */
  margin-bottom: 0; /* footer yüksekliği */
}

.mat-drawer-container {
  height: 100%;
}

.mat-drawer-content {
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 128px); /* 64px header + 64px footer */
  overflow: auto;
}

.main-content {
  padding: 20px;
  height: 100%;
}

