<app-headers></app-headers>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Log In</h5>
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
                    
                        <div class="mb-3">
                            <label for="userNameOrEmail" class="form-label">User Name or Email</label>
                            <input formControlName="userNameOrEmail"
                                [ngClass]="{'is-invalid': submitted && validate.userNameOrEmail.errors}" type="text"
                                class="form-control" id="userNameOrEmail" placeholder="Enter your user name or email">
                            <div *ngIf="submitted && validate.userNameOrEmail.errors" class="invalid-feedback">
                                <div *ngIf="validate.userNameOrEmail.errors.required">User name or email is required.</div> 
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input formControlName="password"
                                [ngClass]="{'is-invalid': submitted && validate.password.errors}" type="password"
                                class="form-control" id="password" placeholder="Enter your password">
                            <div *ngIf="submitted && validate.password.errors" class="invalid-feedback">
                                <div *ngIf="validate.password.errors.required">Password is required.</div>
                            </div>
                        </div>
                   
                        <button type="submit" class="btn btn-primary w-100" style="margin-bottom: 1rem;">Log In</button>
                        <button type="submit" class="btn btn-primary w-100" style="margin-bottom: 1rem;" routerLink="/registers">Register</button>
                        <asl-google-signin-button [width]='383' text="signin_with" type='standard' shape='circle' size='large'></asl-google-signin-button>
                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footers></app-footers>
