<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
  <div class="mdc-card p-0">
    <h6 class="card-title card-padding pb-0">Products Table</h6>
    <div style="margin-top: 1rem; padding: 1rem;">
      <button mat-raised-button color="primary" style="margin-right: 10px;" routerLink="create">Create new product</button>
      <button mat-raised-button color="accent">Update product</button>
    </div>
    <div class="table-responsive" style="width: 100%; margin-top: 20px;">
      <table class="table table-hoverable">
        <thead>
          <tr>
            <th class="text-left">Dessert (100g serving)</th>
            <th>Calories</th>
            <th>Fat (g)</th>
            <th>Link</th>
            <th>Carbs</th>
            <th>Protein (g)</th>
            <th>Sodium (mg)</th>
            <th>Calcium (%)</th>
            <th>Iron (%)</th>
            <th>Iron (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">Frozen yogurt</td>
            <td>1.59</td>
            <td>6.0</td>
            <td>50</td>
            <td>4.0</td>
            <td>87</td>
            <td>20%</td>
            <td>4%</td>
            <td>6%</td>
          </tr>
        </tbody>
      </table>
    </div>   
  </div>
</div>