<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark navbar-collapse" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" routerLink="">Furni<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/">Home</a>
              </li>
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                <a class="nav-link" routerLink="/shops">Shop</a>
              </li>
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/about-us">About us</a>
              </li>
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/service">Service</a>
              </li>
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/blog">Blog</a>
              </li>
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/contact">Contact us</a>
              </li>
            </ul>
          
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/baskets">Cart</a>
              </li>
              <li *ngIf="!authService.isAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/logins">Log In</a>
              </li>
              <li *ngIf="authService.isAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="" (click)="logOut()">Log Out</a>
              </li>
              <li *ngIf="authService.isAuthenticated" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin-interface">Admin</a>
              </li>
            </ul>
          </div>
          
    </div>
</nav>