<mat-sidenav-container class="sidenav-container"
  style="height: 100vh; display: flex; flex-direction: row; overflow: hidden;">
  <mat-sidenav #sidenav class="sidenav" mode="side" opened style="width: 240px; flex-shrink: 3;">
    <app-sidebar class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open sidebar"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content style="flex-grow: 1; display: flex; flex-direction: column;">
    <div class="main-wrapper mdc-drawer-app-content" style="flex-grow: 1; display: flex; flex-direction: column;">
      <app-header class="mdc-top-app-bar"></app-header>
      <div class="page-wrapper mdc-toolbar-fixed-adjust"
        style="flex-grow: 1; display: flex; flex-direction: column; overflow-y: auto;">
        <main class="content-wrapper" style="flex-grow: 1; display: flex; flex-direction: column;">
          
              <router-outlet></router-outlet>
         
        </main>
       <!--  <app-footer class="mdc-footer"></app-footer> -->
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>