<app-headers></app-headers>
<app-heros></app-heros>
<div class="untree_co-section product-section before-footer-section">
    <div class="container">
        <div class="row">
            <!-- Start Column 1 -->
            <div class="col-12 col-md-4 col-lg-3 mb-5" *ngFor="let product of products">
                <a class="product-item" href="#">
                    <img src="../../assets/furniture/images/product-3.png" class="img-fluid product-thumbnail" />
                    <h3 class="product-title">{{product.name}}</h3>
                    <p>Stock: {{product.stock}}</p>
                    <strong class="product-price">{{product.price | currency}}</strong>

                    <span class="icon-cross">
                        <img src="../../assets/furniture/images/cross.svg" class="img-fluid" />
                    </span>
                </a>
            </div>
            <!-- End Column 1 -->
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link">{{currentPageNo}}/{{totalProductCount}}</a></li>

                        <li class="page-item"><a class="page-link" [routerLink]="['/shops', currentPageNo -1 <= 0 ? 1 : currentPageNo -1]">Previous</a></li>
                        <li class="page-item" *ngFor="let currentPageNo of pageNumberList" routerLinkActive="active"><a class="page-link" [routerLink]="['/shops', currentPageNo]">{{currentPageNo}}</a></li>
                    
                        <li class="page-item"><a class="page-link" [routerLink]="['/shops', currentPageNo +1 >= totalProductCount ? totalProductCount : currentPageNo +1]">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>   
    </div>
</div>
<app-footers></app-footers>