::ng-deep .mat-mdc-dialog-inner-container,
::ng-deep .mat-mdc-dialog-surface {
  background: transparent !important;
  box-shadow: none !important;
  overflow: visible !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-mdc-dialog-container {
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  max-height: inherit;
  min-height: inherit;
  min-width: inherit;
  max-width: none !important;
  outline: 0;
}
