<div class="body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <div class="mdc-drawer__header">
          <a href="index.html" class="brand-logo">
              <img src="../../../assets/meterial_admin/assets/images/logo.svg" alt="logo">
          </a>
      </div>
      <div class="mdc-drawer__content">
          <div class="user-info">
              <p class="name">Yahya John Erdogan</p>
              <p class="email">yahyaJohn.com</p>
          </div>
          <div class="mdc-list-group">
              <nav class="mdc-list mdc-drawer-menu">
                  <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" routerLink="">
                          <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
                          Home
                      </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" routerLink="/admin-interface">
                          <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
                          Dashboard
                      </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" routerLink="customers">
                          <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">people</i>
                          Customers
                      </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" routerLink="products">
                          <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">shopping_cart</i>
                          Products
                      </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                      <a class="mdc-drawer-link" routerLink="/admin-interface/orders/order-list">
                          <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">receipt</i>
                          Orders
                      </a>
                  </div>
              </nav>
          </div>
          <div class="profile-actions">
              <a href="javascript:;">Settings</a>
              <span class="divider"></span>
              <a href="javascript:;">Logout</a>
          </div>
      </div>
  </aside>
  <!-- partial -->
</div>
