<!-- Start Header/Navigation -->
<app-headers></app-headers>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<app-heros></app-heros>
<!-- End Hero Section -->

<!-- Start Product Section -->
<app-products></app-products>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<app-why-chooses></app-why-chooses>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<app-we-helps></app-we-helps>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<app-populars></app-populars>
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<app-testimonials></app-testimonials>
<!-- End Testimonial Slider -->

<!-- Start Blog Section -->
<app-blogs></app-blogs>
<!-- End Blog Section -->

<!-- Start Footer Section -->
<app-footers></app-footers>
<!-- End Footer Section -->